* {box-sizing: border-box;
   margin: 0;
}

 

body{
    background-color:#98DFAF;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* height: 200px; */
    font-family: Impact, fantasy;
    padding-top: 20px;
    text-ALIGN: center;
    font-size: 3vw;
    margin-top: 0;
    background-color:#682D63;
    color: #DEEFB7;
    border-style: solid; 
}
 
#songs-list   {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 15px;
        margin-bottom: 50px;
  
       



}

.card {
    margin: 25px;
    background-color: #DEEFB7;
    max-width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 15px;

}

img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

audio {
    width: 200px;
    height: 25px;
    color:#5FB49C !important;
    margin-bottom: 1px;
}


input {
    height: 50px;
    width: 300px;
}

#submit-search {
    color: white;
    background-color: #414288;
    height: 50px;
    width: 300px;
}

#pics-search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;

}

.top-field {
     height: 200px;
}