* {box-sizing: border-box;
   margin: 0;
}

 

body{
    background-color:#98DFAF;
}

header{
    font-family: Impact, fantasy;
  text-ALIGN: center;
  font-size: 4vw;
  margin-top: 0;
    background-color:#682D63;
    color: #DEEFB7;
    border-style: solid; 
}
 
#songs-list   {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 15px;
        margin-bottom: 50px;
  
       



}

.card {
    margin: 25px;
    background-color: aquamarine;
    max-width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 15px;

    /* background-color:#682D63 ;
    font-family: sans-serif;
    font weight: 100;
    height: 275px;
    width: 275px;
    padding: 25px;
    grid-template-columns: 1fr;
    justify-content: center;
    overflow-wrap: normal; */
}

img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

audio {
    width: 200px;
    height: 25px;
    color:#5FB49C !important;
    margin-bottom: 1px;
}


input {
    height: 50px;
    width: 300px;
}

#submit-search {
    background-color: #414288;
    height: 50px;
    width: 200px;
}

#form-field {
}